body {
  --side-bar-width: 16rem;
}
@media (min-width: 1024px) {
  body {
    --side-bar-width: 25vw;
  }
}
.side-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--side-bar-width);
  padding: 2rem;
  background-color: var(--chalk-white);
  overflow: auto;
}
.side-bar nav ul {
  padding-left: 0;
}
.main-content {
  margin-left: var(--side-bar-width);
  padding: 4rem;
}
