
@import './fonts/IBMPlexSans/ibm_plex_sans.css';

/* === Global variables === */
:root {
	--background-color: #ffffff;
	--alt-background-color: #f4f4f4;
	--text-color: #121212;
  --accent-color: #0000FF;
  --border-color: #eeeeee;
  --success-color: #06d19c;
  --danger-color: tomato;
}

/* === Default cascade === */
html {
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
}

::selection {
	background: var(--accent-color);
	color: var(--background-color);
}

label {
  display: block;
}

button, input, select, textarea {
  border: none;
  padding: 0.5rem 0;
}

iframe,
img,
input,
select,
textarea {
  height: auto;
  max-width: 100%;
}

code {
  display: inline-block;
  background-color: var(--alt-background-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

pre code {
  display: block;
  padding: 1rem;
}

.nice-button {
  padding: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
}

.btn-primary {
  color: white;
  background-color: var(--accent-color);
}

input {

}
